$primaryColor: #274754; 
$secondaryColor: #e76e50;
$accentColor: #f7d3a6;
$greyColor: #ccc;

$defaultFont:'Poppins', sans-serif;
$lightWeight: 200;
$normalWeight: 500;
$heavyWeight: 700;
$leading: 150%;

$gutter: 10px;